In [1]:
import pandas as pd
import numpy as np
from scipy import stats
from statsmodels.stats import weightstats

In [6]:
def proportions_diff_z_test(z_stat, alternative = 'two-sided'):
    if alternative not in ('two-sided', 'less', 'greater'):
        raise ValueError("alternative not recognized\n"
                         "should be 'two-sided', 'less' or 'greater'")
    
    if alternative == 'two-sided':
        return 2 * (1 - stats.norm.cdf(np.abs(z_stat)))
    
    if alternative == 'less':
        return stats.norm.cdf(z_stat)

    if alternative == 'greater':
        return 1 - stats.norm.cdf(z_stat)

In [11]:
p1 = 10/34
p2 = 4/16
n1 = 34
n2 = 16
P = float(p1*n1 + p2*n2) / (n1 + n2)
Z_stat = (p1 - p2) / np.sqrt(P * (1 - P) * (1. / n1 + 1. / n2))

In [12]:
proportions_diff_z_test(Z_stat, alternative='greater')

0.37293045872523534

### 4

In [13]:
banknotes = pd.read_table('Data/banknotes.txt')

In [14]:
banknotes.head()

      X1     X2     X3    X4    X5     X6  real
0  214.8  131.0  131.1   9.0   9.7  141.0     1
1  214.6  129.7  129.7   8.1   9.5  141.7     1
2  214.8  129.7  129.7   8.7   9.6  142.2     1
3  214.8  129.7  129.6   7.5  10.4  142.0     1
4  215.0  129.6  129.7  10.4   7.7  141.8     1