In [23]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from scipy import stats
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error
%matplotlib inline

In [39]:
from statsmodels.stats.weightstats import _zconfint_generic, _tconfint_generic, DescrStatsW

In [3]:
borders = _zconfint_generic(9.5, 0.4/np.sqrt(160), 0.02685, alternative='two-sided')
borders[0], borders[1]-9.57

(9.429996924528764, 3.0754712359026826e-06)

In [6]:
a = (9.57-9.5)/(0.4/np.sqrt(160))
a

2.213594362117875

In [9]:
(1-stats.norm.cdf(a))*2

0.026856695507523787

#### Алмазы

In [16]:
Diamonds = pd.read_table('Data/diamonds.txt')

In [18]:
Diamonds.head()

   carat  depth  table  price     x     y     z
0   0.23   61.5   55.0    326  3.95  3.98  2.43
1   0.21   59.8   61.0    326  3.89  3.84  2.31
2   0.23   56.9   65.0    327  4.05  4.07  2.31
3   0.29   62.4   58.0    334  4.20  4.23  2.63
4   0.31   63.3   58.0    335  4.34  4.35  2.75

In [19]:
y = Diamonds['price']
Diamonds.drop('price', axis=1, inplace=True)

In [21]:
X_train, X_valid, y_train, y_valid = train_test_split(Diamonds, y, test_size=0.25, random_state=1)

#### LinearRegression

In [24]:
lin_model = LinearRegression().fit(X_train, y_train)
lin_predictions = lin_model.predict(X_valid)

In [32]:
lin_abs = abs(y_valid - lin_predictions)
lin_rez = np.mean(lin_abs)
lin_rez

890.3764004285567

In [37]:
_tconfint_generic(lin_rez, np.std(lin_abs)/np.sqrt(X_valid.shape[0]), X_valid.shape[0]-1,
                  alpha=0.05, alternative='two-sided')

(870.7787807295834, 909.97402012753)

#### RandomForest

In [27]:
rf_model = RandomForestRegressor(random_state=1).fit(X_train, y_train)
rf_predictions = rf_model.predict(X_valid)

In [33]:
rf_abs = abs(y_valid - rf_predictions)
rf_rez = np.mean(rf_abs)
rf_rez

803.6143383081346

In [36]:
_tconfint_generic(rf_rez, np.std(rf_abs)/np.sqrt(X_valid.shape[0]), X_valid.shape[0]-1,
                  alpha=0.05, alternative='two-sided')

(784.1262432833884, 823.1024333328809)

#### Расчет p_value

AttributeError: 'float' object has no attribute 'shape'

In [38]:
stats.ttest_rel(lin_abs, rf_abs)

Ttest_relResult(statistic=12.930817614948467, pvalue=5.074175575680324e-38)

In [40]:
DescrStatsW(lin_abs-rf_abs).tconfint_mean()

(73.6100876945734, 99.91403654628286)